body{
    /*background-image: url("pictures/background.png");
    background-size: 100%;*/
    
}

#game {
    display: flex;
    align-content:center;
    justify-content: center;
}

#canvas {
    
}

#avatar{
    width: 100px;
    height: 100px;
}
